
a[data-v-d7653ffe] {
	text-decoration: underline;
}

.user[data-v-aa533d85] {
	border-radius: 20px;
	border: 2px solid #0082c9;
	background-color: var(--color-background-dark);
	padding: 3px 8px;
}
textarea {
  width: 100%;
  height: 100px;
}